{% load blog_extras %}
<p>
    Pour avoir des templates spéciaux avec tag et filtres définit par nos soin il faut que les
    fichiers de template soient dans une application.
    si elles ne concernent qu'une app, ont les laisse dans l'app
    Si elle peuvent concrnée plusieurs application il est  possible de créer une app qu'avec des templates spéciaux

    L'application doit contenir un dossier 'templatetags' (ave un fichier '__init__.py)

    Voir blog/templatetags/blog_extra.py pour la suite

    Pour ajouter ce que l'on a implémenter il suffit de mettre l'instruction {% load blog_extras %} au début du tempalte
    (si les modifs on été apporté depuis blog_exrta.py)

    pour plusieurs {% load blog_extras static i18n %}

</p>

<h4>Les filtres</h4>
Un jour, une certaine personne m'a dit : {{ "Bonjour le monde !"|citation }}

<p>
   {{ "Bonjour"|smart_truncate:14 }}<br />
   {{ "Bonjour tout le monde"|smart_truncate:15 }}<br />
   {{ "Bonjour tout le monde, c'est bientôt Noël"|smart_truncate:18 }}<br />
   {{ "To be or not to be, that's the question"|smart_truncate:16 }}<br />
    {{ "To be or not to be, that's the question"|smart_truncate }}<br />
</p>


<h4>Le contexte</h4>

Pour les contextes speciaux voir sitetest/context_processors.py

<p>Nous sommes le {{ date_actuelle }}</p>


<h4>Les tags</h4>
<p>
    Composé d'une fonction de compilation (comment on l'écrit) et d'une fonction de rendu (qu'est ce qu'il donne) <br/>

    Exemple avec une tag pour fonction random : {% random 33 35 %} <br/>

    Les tags simple, qui ne dépendent que des paramètre en entrée peuvent être érit plus simplement exemple random<br/>

</p>

