<h1>Redirection des URLS</h1>

{% for url in urls %}
    <div class="url">
        <p>
            <big>{{ url.real_url }}</big>
            {{ url.pseudo }} {{ url.date }} :
            <a href="{% url "miniURL.views.redirection" url.small_url %}">{{ url.small_url }}</a>
            nb of use : {{ url.number_access }}
            <a href="{% url "url_update" url.small_url %}">Mettre à jour</a> - 
            <a href="{% url "url_delete" url.small_url %}">Supprimer</a>
        </p>
    </div>
{% empty %}
    <p>Aucune URL.</p>
{% endfor %}
<br/>
{# <p><a href="{% url "miniURL.views.nouvelle_url" %}">Créer une redirection</a></p> #}
<p><a href="{% url "url_nouveau" %}">Créer une redirection</a></p>

<div class="pagination">
   {% if urls.has_previous %}
       <a href="{% url 'url_liste' urls.previous_page_number %}">Précédente</a> -
   {% endif %}

   <span class="current">
       Page {{ urls.number }} sur {{ urls.paginator.num_pages }}
   </span>

   {% if urls.has_next %}
       - <a href="{% url 'url_liste' urls.next_page_number %}">Suivante</a>
   {% endif %}
</div>
